@import "tailwindcss";

@theme {
    --background-image-gradient-radial: radial-gradient(
        var(--tw-gradient-stops)
    );
    --background-image-gradient-conic: conic-gradient(
        from 180deg at 50% 50%,
        var(--tw-gradient-stops)
    );
}

:root {
    --foreground-color-oklch: 0% 0 0;
    --background-color-oklch: 98.48% 0 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color-oklch: 100% 3.5594404384177905e-8 106.37411429114086;
        --background-color-oklch: 23.64% 0.0045 248.02;
    }
}

body {
    color: oklch(var(--foreground-color-oklch));
    background-color: oklch(var(--background-color-oklch));
}
